.container {
    margin: auto;
    width: 1161px;
}

.card {
    margin: 12px;
    width: 350px;
    height: auto;
    background-color: bisque;
    border-radius: 5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s cubic-bezier(.38,-0.83,.58,1.61);
}

.card:hover {
    box-shadow: 10px 10px 13px 0 rgba(0, 0, 0, 0.25);
    margin-top: -10px;
}

.row {
    display: flex;
    align-items: flex-start;
    /*justify-content: space-between;*/
}

.title {
    text-align: center;
}